{	"contactEmailRot13" = "qvexfvreq@zr.pbz";
	contactName = "Dirk Sierd de Vries";
	description = "Show indication in gutter for rubocop";
	name = "Rubocop";
	source = {
		method = "git";
		url = "git@github.com:dirksierd/rubocop-gutter.tmbundle";
	};
	uuid = "B9E025E7-46D9-4C58-A3DC-F0D4BB254DA0";
}
